<div class="sidebar">

    {% comment %} <h5 class="sidebar-title">Welcome</h5> {% endcomment %}
     <!-- Profile Header -->
    <div class="sidebar-profile text-center">
        <div class="profile-img-wrapper">
            <img src="https://i.pravatar.cc/150?img=12" alt="Profile Image" class="profile-img">
        </div>
        
        <h3 class="profile-name">Gourav Agrawal</h3>
        {% comment %} <h3 class="profile-name">{{Gourav Agrawal}}</h3> {% endcomment %}
            {% comment %} <span class="profile-role">Administrator</span> {% endcomment %}
    </div>

    <button class="side-btn" onclick="openPanel('roles')">
        <i class="fa-solid fa-user-shield"></i> Roles
    </button>

    <button class="side-btn" onclick="openPanel('course')">
        <i class="fa-solid fa-book"></i> Course
    </button>

    <button class="side-btn" onclick="openPanel('addClass')">
        <i class="fa-solid fa-plus"></i> Add Class
    </button>

    <button class="side-btn" onclick="openPanel('classDetails')">
        <i class="fa-solid fa-table"></i> Class Details
    </button>

    <button class="side-btn" onclick="openPanel('staffReg')">
        <i class="fa-solid fa-user-plus"></i> Staff Registration
    </button>

    <button class="side-btn" onclick="openPanel('empDetails')">
        <i class="fa-solid fa-users"></i> Emp Details
    </button>

    <button class="side-btn" onclick="openPanel('enquiryForm')">
        <i class="fa-solid fa-file-pen"></i> Enquiry Form
    </button>

    <button class="side-btn" onclick="openPanel('recentEnquiry')">
        <i class="fa-solid fa-clock"></i> Recent Enquiry
    </button>

    <button class="side-btn" onclick="openPanel('enquiryTable')">
        <i class="fa-solid fa-database"></i> Enquiry Table
    </button>

</div>