
<div id="sidebar_div">
    <!-- Side bar Profile Picture and Name of the Entity -->
    <div class="sidebar-profile text-center">
        <div class="profile-img-wrapper">
            <img src="https://i.pravatar.cc/150?img=12" alt="Profile Image" class="profile-img">
        </div>
        <h3 class="profile-name">Trainer</h3>
    </div>

    <!-- Add Class Button -->
    <button class="side-btn" data-bs-toggle="collapse" data-bs-target="#AddClassForm">
        <i class="fa-solid fa-user-shield"></i> Add Class
    </button>

    <!-- showing class Detials -->
    <button class="side-btn" data-bs-toggle="collapse" data-bs-target="#ClassDetailsPanel">
        <i class="fa-solid fa-users"></i> Class Details
    </button>
    
   



</div>

