*
{
    margin:0px;
    padding:0px;
}
body
{
    background-color:aliceblue;
            
}
h1
{
    color:brown;
    font-family: sans-serif;
    text-align: center;
}
#logo
{
    height:30%;
    width: 30%;
    position: relative;
    left : 35%;
}
#main-container
{
    height: 80%;
    width: 70%;
    margin-left:20%;
    margin-top:1%;
    background-color: #fbfafa;
}
h2
{
    color:coral;
    text-align: center;
}

span
{
    color:coral;
    text-align: center;
    display: block;
}