{% extends "superadmin/base.html" %} 
{% load static %}
{% block title %} Login Page {% endblock %}
{% block Heading %}{% endblock %} 

{% block content %}


{% if messages %}
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Position it -->
    <div class="toast-container position-fixed top-0 end-0 p-3">

      {% for message in messages %}
      <div class="toast align-items-center text-bg-{{ message.tags }} border-0" 
           role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            {{ message }}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" 
                  data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
{% endif %}




<div class="container mt-5">
  <!-- Login form -->
  <div
    class="form-container mx-auto p-4 shadow rounded"
    style="max-width: 500px"
  >
    <h2 class="mb-4 text-center">Admin Login</h2>

    <form method="POST" action="">
      {% csrf_token %}

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="Email"
          placeholder="Enter your email"
          class="form-control"
          required
        />
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="Password"
          placeholder="Enter your password"
          class="form-control"
          required
        />
      </div>

      <!-- Submit button -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
